.masthead {
    background: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

}
.relative {
    position: relative;
}
div.overlay {
    position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}